name: Acceptance Tests
on: [push, workflow_dispatch]
jobs:
  versions:
    runs-on: ubuntu-latest
    steps:
      - run: echo "setting versions"
    outputs:
      K8S_1: "1.33.4"
      K8S_2: "1.32.8"
      K8S_3: "1.31.12"
      K8S_4: "1.30.13"
      K8S_5: "1.29.14"
      VAULT_N: "1.21.0"
      VAULT_N_1: "1.20.5"
      VAULT_N_2: "1.19.11"
      VAULT_LTS_1: "1.16.27"

  kind-ce-vault:
    name: ce vault:${{ matrix.vault-version }} k8s:${{ matrix.k8s-version }}
    runs-on: ubuntu-latest
    needs: versions
    strategy:
      fail-fast: false
      matrix:
        vault-version:
          - ${{ needs.versions.outputs.VAULT_N }}
        k8s-version:
          - ${{ needs.versions.outputs.K8S_1 }}
          - ${{ needs.versions.outputs.K8S_2 }}
          - ${{ needs.versions.outputs.K8S_3 }}
          - ${{ needs.versions.outputs.K8S_4 }}
          - ${{ needs.versions.outputs.K8S_5 }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./.github/actions/acceptance-test
        name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
        with:
          k8s-version: ${{ matrix.k8s-version }}
          vault-version: ${{ matrix.vault-version }}
          vault-license: ${{ secrets.VAULT_LICENSE_CI }}
          vault-enterprise: false

  kind-ent-vault:
    name: ent vault:${{ matrix.vault-version }} k8s:${{ matrix.k8s-version }}
    runs-on: ubuntu-latest
    needs: versions
    strategy:
      fail-fast: false
      matrix:
        vault-version:
          - ${{ needs.versions.outputs.VAULT_N }}
          - ${{ needs.versions.outputs.VAULT_N_1 }}
          - ${{ needs.versions.outputs.VAULT_N_2 }}
          - ${{ needs.versions.outputs.VAULT_LTS_1 }}
        k8s-version:
          - ${{ needs.versions.outputs.K8S_1 }}
          - ${{ needs.versions.outputs.K8S_2 }}
          - ${{ needs.versions.outputs.K8S_3 }}
          - ${{ needs.versions.outputs.K8S_4 }}
          - ${{ needs.versions.outputs.K8S_5 }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./.github/actions/acceptance-test
        name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
        with:
          k8s-version: ${{ matrix.k8s-version }}
          vault-version: ${{ matrix.vault-version }}
          vault-license: ${{ secrets.VAULT_LICENSE_CI }}
          vault-enterprise: true

permissions:
  contents: read
