name: Acceptance Tests
on: [push, workflow_dispatch]
jobs:
  versions:
    runs-on: ubuntu-latest
    steps:
      - run: echo "setting versions"
    outputs:
      K8S_1: "1.35.0"
      K8S_2: "1.34.3"
      K8S_3: "1.33.7"
      K8S_4: "1.32.11"
      K8S_5: "1.31.14"
      VAULT_N: "1.21.2"
      VAULT_N_1: "1.20.7"
      VAULT_N_2: "1.19.13"
      VAULT_LTS_1: "1.16.29"

  kind-ce-vault:
    name: ce vault:${{ matrix.vault-version }} k8s:${{ matrix.k8s-version }}
    runs-on: ubuntu-latest
    needs: versions
    strategy:
      fail-fast: false
      matrix:
        vault-version:
          - ${{ needs.versions.outputs.VAULT_N }}
        k8s-version:
          - ${{ needs.versions.outputs.K8S_1 }}
          - ${{ needs.versions.outputs.K8S_2 }}
          - ${{ needs.versions.outputs.K8S_3 }}
          - ${{ needs.versions.outputs.K8S_4 }}
          - ${{ needs.versions.outputs.K8S_5 }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./.github/actions/acceptance-test
        name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
        with:
          k8s-version: ${{ matrix.k8s-version }}
          vault-version: ${{ matrix.vault-version }}
          vault-license: ${{ secrets.VAULT_LICENSE_CI }}
          vault-enterprise: false

  kind-ent-vault:
    name: ent vault:${{ matrix.vault-version }} k8s:${{ matrix.k8s-version }}
    runs-on: ubuntu-latest
    needs: versions
    strategy:
      fail-fast: false
      matrix:
        vault-version:
          - ${{ needs.versions.outputs.VAULT_N }}
          - ${{ needs.versions.outputs.VAULT_N_1 }}
          - ${{ needs.versions.outputs.VAULT_N_2 }}
          - ${{ needs.versions.outputs.VAULT_LTS_1 }}
        k8s-version:
          - ${{ needs.versions.outputs.K8S_1 }}
          - ${{ needs.versions.outputs.K8S_2 }}
          - ${{ needs.versions.outputs.K8S_3 }}
          - ${{ needs.versions.outputs.K8S_4 }}
          - ${{ needs.versions.outputs.K8S_5 }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./.github/actions/acceptance-test
        name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
        with:
          k8s-version: ${{ matrix.k8s-version }}
          vault-version: ${{ matrix.vault-version }}
          vault-license: ${{ secrets.VAULT_LICENSE_CI }}
          vault-enterprise: true

permissions:
  contents: read
