name: Acceptance Tests
on: [push, workflow_dispatch]
jobs:
  kind:
    strategy:
      fail-fast: false
      matrix:
        kind-k8s-version: [1.25.16, 1.26.14, 1.27.11, 1.28.7, 1.29.2]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Setup test tools
        uses: ./.github/actions/setup-test-tools
      - name: Create K8s Kind Cluster
        uses: helm/kind-action@0025e74a8c7512023d06dc019c617aa3cf561fde # v1.10.0
        with:
          config: test/kind/config.yaml
          node_image: kindest/node:v${{ matrix.kind-k8s-version }}
          version: v0.22.0
      - run: bats --tap --timing ./test/acceptance
        env:
          VAULT_LICENSE_CI: ${{ secrets.VAULT_LICENSE_CI }}
permissions:
  contents: read
