name: Tests
on: [push, workflow_dispatch]
jobs:
  bats-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./.github/actions/setup-test-tools
      - run: bats --tap --timing ./test/unit
  chart-verifier:
    runs-on: ubuntu-latest
    env:
      CHART_VERIFIER_VERSION: '1.13.12'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup test tools
        uses: ./.github/actions/setup-test-tools
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: '1.24.5'
      - run: go install "github.com/redhat-certification/chart-verifier@${CHART_VERIFIER_VERSION}"
      - run: bats --tap --timing ./test/chart
permissions:
  contents: read
