name: update-helm-charts-index
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: read

jobs:
  update-helm-charts-index:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: verify Chart version matches tag version
        run: |-
          export TAG=${{ github.ref_name }}
          git_tag="${TAG#v}"
          chart_tag=$(yq -r '.version' Chart.yaml)
          if [ "${git_tag}" != "${chart_tag}" ]; then
            echo "chart version (${chart_tag}) did not match git version (${git_tag})"
            exit 1
          fi
      - name: update helm-charts index
        id: update
        env:
          GH_TOKEN: ${{ secrets.HELM_CHARTS_GITHUB_TOKEN }}
        run: |-
          gh workflow run publish-charts.yml \
            --repo hashicorp/helm-charts \
            --ref main \
            -f SOURCE_TAG="${{ github.ref_name }}" \
            -f SOURCE_REPO="${{ github.repository }}"
      - uses: hashicorp/actions-slack-status@v1
        if: ${{always()}}
        with:
          success-message: "vault-helm charts index update triggered successfully. View the run <https://github.com/hashicorp/helm-charts/actions/workflows/publish-charts.yml|here>."
          failure-message: "vault-helm charts index update trigger failed."
          status: ${{job.status}}
          slack-webhook-url: ${{secrets.SLACK_WEBHOOK_URL}}
